.header{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: Calibre, sans-serif;
    font-size: 16px;
    font-weight: lighter;
}

.top_bar{
    display: flex;
    gap: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.three_bars{
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
}

.bar{
    border: .5px solid;
    width: 17px;
    height: 1.5px;
    background-color: white;
    border-radius: 10%;
}

.utility{
    display: flex;
    gap: 20px;
}

button.subscribe{
    background-color: #b72424;
    color:white;
    border-radius: 3%;
    padding: 10px;
    border-color: black;
    width: 150px;
    border: none; /* Remove the border */
    box-shadow: none; /* Remove any box-shadow or shadow effect */
}