/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */ 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 
	margin: 0; 
	padding: 0; 
	border: 0; 
	font-size: 100%; 
	font: inherit; 
	vertical-align: baseline; 
} 
/* HTML5 display-role reset for older browsers */ 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
	display: block; 
} 

body { 
	line-height: 1; 
} 

ol, ul { 
	list-style: none; 
} 

blockquote, q { 
	quotes: none; 
} 

blockquote:before, blockquote:after, q:before, q:after { 
	content: ''; 
	content: none; 
} 

table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}
/***************************************************************************************************************************/
@font-face {
    font-family: "Tiempo";
    src: url('fonts/test-tiempos-text-regular.woff2') format('woff2');
    /* You can also specify other font formats here, such as WOFF and TTF, for wider compatibility */
  }
  
.html {
    width: 100vw;
}

.header{
    display: flex;
    background-color: rgb(26, 26, 26);
    justify-content: center;    
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo{
    height: 60px;
}

/***************************************************************************************************************************/
.all{
    display: grid;
    margin-left: 7vw;
    margin-right: 7vw;
    grid-template-columns: 55% 45%;
    height: 95vh;
    font-family: "Tiempo";
    padding-top: 40px;
    border-bottom: solid gainsboro;
}

.left{
    height: 95%;
    padding-bottom: 0px;
    border-right: solid gainsboro;
    padding-right: 20px;
}

.big img{
    width: auto;
    height: 450px;
}
.big{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.big>.title{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;

}

.big>.blurb{
    font-size: .875rem;
    font-weight: 300;
    color: gray;
    line-height: 1.5;

}

.last-row{
    display: flex;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .6rem;
    color: gray;
}

.comments{
    display: flex;
    align-items: center;
    gap: 2px;
}

.comments > svg{
    width: 10px;
    height: auto;
}

.right{
    height: 95%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.article{
    display: flex;
    padding-bottom: 15px;
    border-bottom: solid gainsboro;
    gap:20px;
    padding-top: 20px;
}

.right .article:first-child{
    padding-top:0px
}

.right .article:last-child{
    border:none;
    padding-bottom:0px;
}

.article > .text{
    display: flex;
    flex-direction: column;
    gap:13px;
    line-height: 1.5;

}
.article img{
    height: 90px;
    width: 130px;
    object-fit: cover;
    display: block;
    line-height: 1.5;

}

